.first {
  background-color: #f5f17c61;
  height: 40px;
  margin: 15px;
}

.logo {
  text-align: center;
  width: 100px;
}

figcaption p {
  opacity: 0.4;
}

.intestazione {
  font-size: xx-large;
  margin: ;32px
}
.body {
  width: 700px;
  margin: auto;
}

.ul-title {
  font-weight: 800;
}
.ul-title2 {
  font-weight: 800;
}
.make{font-weight: 800;}
a{color: rgb(18, 102, 111);}